<!--
@author JJYDXFS
@version Jan 21 2021
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>今日人文社科</title>

    <link href="/flask/templates/style/style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>

<div id="top_bar">
    <div id="navigation"></div>
    <header id="header">
        <div id="logo"></div>
            <h1 class="logoname">
                <a href="index.html">
                <span>今日</span>
                人文社科
                </a>
            </h1>
        <div id="search_box">
            <input type="text" name="search" id="search" placeholder="搜索" style="color: black;">
        </div>
    </header>
</div>

<div id="banner">

</div>

<div id="content">

</div>

</body>
</html>