<!DOCTYPE html>
<html lang="en">

<head>
<title>{{title}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link href="static/layout/styles/layout_subject.css" rel="stylesheet" type="text/css" media="all">

</head>
<body id="top">

<div class="row0">
  <div id="topbar" class="hoc clear"> 
    <div class="fl_left">
      <ul class="nospace">
        <li><a href="http://localhost:8080/">首页</a></li>
        <li><a href="http://localhost:5000/subject=journalism">新闻传播</a></li>
        <li><a href="http://localhost:5000/subject=engineering">工学</a></li>
        <li><a href="http://localhost:5000/subject=art">艺术</a></li>
        <li><a href="http://localhost:5000/subject=literature">文学</a></li>
		<li><a href="http://localhost:8080/about.html">关于我们</a></li>
      </ul>
    </div>
    </div>
</div>

<div class="row1">

  <header id="header" class="hoc clear"> 
    <div id="logo" class="one_half first">
      
      <h1 class="logoname">
        <img src="static/layout/img/logo.png" style="height: 100px;float: left;">
        <div>
          <a href="http://localhost:8080/">
            <span>今日</span>
            人文社科
          </a>
        </div>
        
      </h1>
    </div>

    <div class="fl_right">
        <input type="text" name="search" id="search" placeholder="输入关键词搜索"> 
    </div>

  </header>

</div>

<div id="banner">
  <div class="carousel">
    <div class="carousel-inner">
        <div class="item active">
          <a href="https://mp.weixin.qq.com/s/W18r_ypMjprtecjJAbDarw">
              <img src="http://localhost:8080/img/八大作_fit.png">
            </a>
        </div>
        <div class="item">
          <a href="https://mp.weixin.qq.com/s/W18r_ypMjprtecjJAbDarw">
            <img src="http://localhost:8080/img/八大作_fit.png">
          </a>
        </div>
        <div class="item">
          <a href="https://mp.weixin.qq.com/s/W18r_ypMjprtecjJAbDarw">
            <img src="http://localhost:8080/img/八大作_fit.png">
          </a>
        </div>
        <div class="item">
          <a href="https://mp.weixin.qq.com/s/W18r_ypMjprtecjJAbDarw">
            <img src="http://localhost:8080/img/八大作_fit.png">
          </a>
        </div>
        <div class="item">
          <a href="https://mp.weixin.qq.com/s/W18r_ypMjprtecjJAbDarw">
            <img src="http://localhost:8080/img/八大作_fit.png">
          </a>
        </div>
    </div>
    <ul class="carousel-sort">
        <li class="item active"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
    </ul>
    <div class="carousel-left"></div>
    <div class="carousel-right"></div>
  </div>
</div>

<hr id="split_line"/>

<div class="row3 cut">
  <div id="trending">
    <h3 id="trending-head">讲座推荐</h3>

    <div class="hot_search">TOP1 </div>
    <div class="hot_search">TOP2 </div>
    <div class="hot_search">TOP3 </div>
    <div class="hot_search_bottom">TOP4 </div>

  </div>

  <div id="notice_subject">
    {% for i in lecture_list %}
      <div class="date">{{i.time}}</div>
      <div class="preview_subject">
        <a href="{{i.url}}">
          {{i.title}}
        </a>
      </div>
    {% endfor %}
  </div>

</div>

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>

<!-- JAVASCRIPTS -->
<script src="static/layout/scripts/jquery.min.js"></script>
<script src="static/layout/scripts/jquery.backtotop.js"></script>
<script src="static/layout/scripts/jquery.mobilemenu.js"></script>
<script src="static/layout/scripts/tools.js"></script>
<script src="static/layout/scripts/component.js"></script>
<script src="static/layout/scripts/getData.js"></script>

<script>
  $("#trending").smartFloat();
</script>

</body>
</html>