<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script src="http://127.0.0.1:5000/static/layout/scripts/vue.js"></script>
</head>
<body>
    {% raw %}
    <div id="search_demo">
        <p v-for="item in lecture_list">
            {{item}}
        </p>
    </div>
    {% endraw %}
<!-- JAVASCRIPTS -->
<script src="http://127.0.0.1:5000/static/layout/scripts/jquery.min.js"></script>
<script src="http://127.0.0.1:5000/static/layout/scripts/jquery.backtotop.js"></script>
<script src="http://127.0.0.1:5000/static/layout/scripts/jquery.mobilemenu.js"></script>
<script src="http://127.0.0.1:5000/static/layout/scripts/demo.js"></script>
</body>
</html>